* {
  padding: 0;
  margin: 0;
}

body{
    background-image: url("/img/greenHillzone.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.painel{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0,0.9);
    padding: 25px;
    border: 5px solid rgb(0, 0, 0);
}

.clockImg{
    height: 60px;
    width: 60px;
}

.painel-txt{
    color: white;
}

.egg{
    position: absolute;
}

.eggManImg{
    height: 200px;
    width: 200px;
}

.missil1, .missil2{
    position: absolute;
}

.missilImg{
    height: 100px;
    width: auto;
}

.pause-txt{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: red;
}